* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #1677bd;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  appearance: none;
}

select:invalid {
  color: #8d9091;
}

textarea {
  resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  z-index: 5;
}

.backdrop.open {
  opacity: 1;
  pointer-events: all;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.noDisplay {
  display: none;
}

.fullWidth {
  width: 100%;
}

.textCenter {
  text-align: center;
}

.textUnderline {
  text-decoration: underline;
}

.textUpperCase {
  text-transform: uppercase;
}

.textCapitalize {
  text-transform: capitalize;
}

.textLight {
  font-family: Gordita Light;
}

.textRegular {
  font-family: Gordita Regular;
}

.textMedium {
  font-family: Gordita;
}

.textBold {
  font-family: Gordita Bold;
}
